.modules__title-bar {
  display: flex;
  justify-content: center;
}

.modules__parents-and-children {
  display: flex;
}

.modules__parents,.modules__children {
  flex-grow: 1;
}

.modules__parents-title-bar,.modules__children-title-bar {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}