<mat-divider></mat-divider>
<div
  class="modules__title-bar">
  <h3>
    Module Name
  </h3>
</div>
<mat-divider></mat-divider>
<div
  class="modules__parents-and-children">
  <div
    class="modules__parents">
    <div
      class="modules__parents-title-bar">
      <h4>Parents</h4>
    </div>
    <div
      class="modules__parents-list">
      <ul>
        <li>
          Parent module 1
        </li>
        <li>
          Parent module 2
        </li>
        <li>
          Parent module 3
        </li>
      </ul>
    </div>
  </div>
  <mat-divider
    vertical="true"></mat-divider>
  <div
    class="modules__children">
    <div
      class="modules__children-title-bar">
      <h4>Children</h4>
    </div>
    <div
      class="modules__children-list">
      <ul>
        <li>
          child module 1
        </li>
        <li>
          child module 2
        </li>
        <li>
          child module 3
        </li>
      </ul>
    </div>
  </div>
</div>